Repository NervanaSystems/ngraph, pull requests merged in 2018-06, with the labels that each got.

#1051 change get_shape().size() to get_size()
  src/ngraph/runtime/gpu/gpu_emitter.cpp
Labels: GPU, bug

#1078 Disable one_hot tests which throw exceptions.
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1069 Added per argument alignment to GPUAllocator::reserve_argspace.
  src/ngraph/runtime/gpu/gpu_memory_manager.cpp
  src/ngraph/runtime/gpu/gpu_memory_manager.hpp
  test/gpu_test.cpp
Labels: GPU

#1064 gpu convolution asymmetric pad
  src/ngraph/runtime/gpu/cudnn_emitter.cpp
  src/ngraph/runtime/gpu/cudnn_emitter.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1095 Zero init. GPU workspace allocations by default
  src/ngraph/runtime/gpu/gpu_memory_manager.cpp
  src/ngraph/runtime/gpu/gpu_memory_manager.hpp
Labels: GPU

#1070 CUDA softmax kernel and broadcast kernel support for multiple non-consecutive axes
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_ops.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
  test/backend_test.in.cpp
Labels: GPU

#1099 gpu deconvolution
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_shape.hpp
  src/ngraph/runtime/gpu/gpu_util.hpp
  src/ngraph/runtime/gpu/unit_test.manifest
  test/util/all_close.hpp
Labels: GPU

#1111 gpu function call
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1109 gpu reverse sequence
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1115 enable more gpu ops test
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1148 Switch to using has_class for trivial op::Skip predicates
  src/ngraph/pass/algebraic_simplification.cpp
  src/ngraph/pass/core_fusion.cpp
  src/ngraph/runtime/cpu/pass/cpu_fusion.cpp
  src/ngraph/runtime/cpu/pass/cpu_rnn_fusion.cpp
Labels: external

#1152 GPU bug fixes
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
Labels: GPU

#1145 onnx [1]: add importer cmakes
  CMakeLists.txt
  src/ngraph/CMakeLists.txt
  src/ngraph/frontend/CMakeLists.txt
  src/ngraph/frontend/onnx_import/CMakeLists.txt
Labels: ONNX

#1163 Add extra hash parameters to broadcast and max pool
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
Labels: bug fix

#1122 enable cudnn datatype support
  src/ngraph/runtime/gpu/cudnn_emitter.cpp
  src/ngraph/runtime/gpu/cudnn_emitter.hpp
  src/ngraph/runtime/gpu/cudnn_host_parameters.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_ops.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1175 check cudnn version
  src/ngraph/runtime/gpu/cudnn_host_parameters.hpp
Labels: GPU, bug

#1131 Nd convolution via blocked GEMM for C{d1,...,dn}N layout
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_memory_manager.hpp
  src/ngraph/runtime/gpu/gpu_shape.hpp
  src/ngraph/runtime/gpu/gpu_util.cpp
  src/ngraph/runtime/gpu/gpu_util.hpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU, Ready to merge
