Repository NervanaSystems/ngraph, pull requests merged in 2018-03, with the labels that each got.

#686 Update GraphRewrite API
  src/ngraph/pass/graph_rewrite.cpp
  src/ngraph/pass/reshape_elimination.cpp
  src/ngraph/pattern/core_fusion.cpp
  src/ngraph/pattern/matcher.cpp
  src/ngraph/pattern/matcher.hpp
  src/ngraph/runtime/cpu/pass/cpu_fusion.cpp
  test/pattern.cpp
Labels: Changes API

#712 Add op::ReluBackprop to GPU transformer
  src/ngraph/runtime/gpu/gpu_cuda_kernel_ops.hpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  test/backend_test.in.cpp
Labels: GPU

#671 Add reduce sum to the GPU transformer (op::Sum)
  src/ngraph/codegen/code_writer.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_emitter.hpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/gpu_kernel_emitters.cpp
  src/ngraph/runtime/gpu/gpu_kernel_emitters.hpp
  test/backend_test.in.cpp
Labels: GPU

#645 Dot op that can handle more than 2D on GPU
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  test/backend_test.in.cpp
Labels: GPU

#755 set cudnn version to 7 and REQUIRED
  CMakeLists.txt
Labels: GPU, bug

#716 gpu reshape n-dimension (n>2)
  src/ngraph/builder/tensor_mask.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  test/backend_test.in.cpp
  test/builder.cpp
Labels: GPU

#767 NNP test include refactoring [needs this in NNP repo]
  test/CMakeLists.txt
Labels: NNP
