Repository NervanaSystems/ngraph, pull requests merged in 2018-04, with the labels that each got.

#844 Use new backend API in graph partition
  test/graph_partition.cpp
Labels: Prius

#843 gpu slice
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  test/backend_test.in.cpp
Labels: GPU

#847 make sure matcher respects argument order for non-commutative ops
  src/ngraph/pattern/matcher.cpp
  test/pattern.cpp
Labels: bug

#858 add min, max reduction op
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  test/backend_test.in.cpp
Labels: GPU

#860 GPU Padding - add support for custom pad value and interior padding
  src/ngraph/CMakeLists.txt
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/type_info.cpp
  src/ngraph/runtime/gpu/type_info.hpp
  test/backend_test.in.cpp
Labels: GPU

#896 New PR with framework DO docs only
  doc/sphinx/source/framework-integration-guides.rst
  doc/sphinx/source/howto/derive-for-training.rst
  doc/sphinx/source/howto/index.rst
  doc/sphinx/source/index.rst
  doc/sphinx/source/optimize/generic.rst
  doc/sphinx/source/optimize/index.rst
Labels: documentation

#875 Move runtime::Manager functionality into runtime::Backend
  python/pyngraph/runtime/backend.cpp
  src/ngraph/CMakeLists.txt
  src/ngraph/runtime/backend.cpp
  src/ngraph/runtime/backend.hpp
  src/ngraph/runtime/cpu/cpu_backend.cpp
  src/ngraph/runtime/cpu/cpu_backend.hpp
  src/ngraph/runtime/cpu/cpu_manager.cpp
  src/ngraph/runtime/cpu/cpu_manager.hpp
  src/ngraph/runtime/gpu/gpu_backend.cpp
  src/ngraph/runtime/gpu/gpu_backend.hpp
  src/ngraph/runtime/gpu/gpu_call_frame.hpp
  src/ngraph/runtime/gpu/gpu_manager.cpp
  src/ngraph/runtime/gpu/gpu_manager.hpp
  src/ngraph/runtime/interpreter/int_backend.cpp
  src/ngraph/runtime/interpreter/int_backend.hpp
  src/ngraph/runtime/interpreter/int_kernels.cpp
  src/ngraph/runtime/interpreter/int_kernels.hpp
  src/ngraph/runtime/interpreter/int_manager.cpp
  src/ngraph/runtime/interpreter/int_manager.hpp
  src/ngraph/runtime/manager.cpp
  src/ngraph/runtime/manager.hpp
  src/tools/nbench/nbench.cpp
  test/CMakeLists.txt
  test/backend_api.cpp
  test/backend_performance.cpp
  test/includes.cpp
  test/runtime_manager.cpp
  test/util/autodiff/numeric_compare.hpp
  test/util/autodiff/numeric_derivative.hpp
  test/util/benchmark.cpp
Labels: Changes API

#879 Modified CUDNN headers throughout nGraph: cudnn_v7.h -> cudnn.h.
  src/ngraph/runtime/gpu/cudnn_emitter.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/gpu_util.hpp
Labels: GPU

#887 fix bug the 'codegen' dir create after the first _ops.txt store
  src/ngraph/runtime/gpu/gpu_external_function.cpp
Labels: GPU, bug

#902 add cudnn include path to compiler.cpp
  src/ngraph/CMakeLists.txt
  src/ngraph/codegen/compiler.cpp
  test/backend_test.in.cpp
Labels: GPU

#893 CUDNN BatchNorm (inference/forward/backward)
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cudnn_emitter.cpp
  src/ngraph/runtime/gpu/cudnn_emitter.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_primitive_emitter.cpp
  src/ngraph/runtime/gpu/gpu_primitive_emitter.hpp
  src/ngraph/runtime/gpu/gpu_util.cpp
  src/ngraph/runtime/gpu/gpu_util.hpp
  test/backend_test.in.cpp
  test/cpu_test.cpp
Labels: GPU

#905 Fix ngraph ONNX install directions
  doc/sphinx/source/howto/import.rst
Labels: documentation

#908 Replace with Broadcast if exists in Algebraic Simplifier
  src/ngraph/pass/algebraic_simplification.cpp
  test/algebraic_simplification.cpp
Labels: bug

#919 gpu select
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_ops.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  test/backend_test.in.cpp
Labels: GPU
