Repository NervanaSystems/ngraph, pull requests merged in 2018-05, with the labels that each got.

#952 add gpu reverse
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  test/backend_test.in.cpp
Labels: GPU

#963 CMake: Fix broken revision parsing code
  cmake/Modules/git_tags.cmake
Labels: bug

#969 [cuDNN:Part 2] Descriptor Creation/Destruction refactoring
  src/ngraph/runtime/gpu/cudnn_descriptors.hpp
  src/ngraph/runtime/gpu/cudnn_emitter.cpp
  src/ngraph/runtime/gpu/cudnn_emitter.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/gpu_kernel_emitters.cpp
Labels: GPU, bug

#975 add a missing return if maxpool not found to fix segfault
  src/ngraph/runtime/cpu/pass/cpu_workspace_insertion.cpp
Labels: bug

#951 CUDNN and CUDA kernels for AvgPool (forward/backward)
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_util.cpp
  src/ngraph/runtime/gpu/gpu_util.hpp
  test/autodiff.in.cpp
  test/backend_test.in.cpp
Labels: GPU

#979 Add op::Or and op::And to GPU transformer
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_ops.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_emitter.hpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  test/backend_test.in.cpp
Labels: GPU

#986 Add a few references to helper functions introduced in #951
  src/ngraph/runtime/gpu/gpu_util.cpp
Labels: GPU

#985 add gpu reduction
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1014 Remove unnused variable
  src/ngraph/runtime/cpu/cpu_external_function.cpp
Labels: bug

#1009 Upgrade nGraph support to CUDA 9.1
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/gpu_cuda_function_builder.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1016 [Py] Fix for input shape different to node shape
  python/ngraph/runtime.py
  python/test/ngraph/test_basic.py
Labels: ONNX

#1048 fix bug in dot op, add another test to catch the error, enable more tests
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
  test/backend_test.in.cpp
Labels: GPU, bug

#1040 add gpu product
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
  test/backend_test.in.cpp
Labels: GPU

#1042 enable more gpu test
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#999 [CS:GPU::Part4] Added op::ReplaceSlice and enabled respective tests.
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1035 [CS:GPU::Part 3] Refactoring of several ops to use GPUMemoryManager
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/cudnn_emitter.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1034 [CS:GPU::Part 2] Add GPUMemoryManager, GPUAllocator, and memory primitives.
  src/ngraph/CMakeLists.txt
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/cudnn_emitter.cpp
  src/ngraph/runtime/gpu/gpu_call_frame.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/gpu_invoke.cpp
  src/ngraph/runtime/gpu/gpu_invoke.hpp
  src/ngraph/runtime/gpu/gpu_memory_manager.cpp
  src/ngraph/runtime/gpu/gpu_memory_manager.hpp
  src/ngraph/runtime/gpu/gpu_primitive_emitter.cpp
  src/ngraph/runtime/gpu/gpu_primitive_emitter.hpp
  src/ngraph/runtime/gpu/gpu_runtime_context.hpp
  src/ngraph/runtime/gpu/gpu_tensor_view_wrapper.cpp
  src/ngraph/runtime/gpu/gpu_tensor_view_wrapper.hpp
  src/ngraph/runtime/gpu/unit_test.manifest
  test/CMakeLists.txt
  test/gpu_test.cpp
Labels: GPU

#1045 cuDNN Softmax implementation for all axis activation
  src/ngraph/runtime/gpu/cudnn_emitter.cpp
  src/ngraph/runtime/gpu/cudnn_emitter.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU

#1047 fix invalid context when run mxnet and nbench
  src/ngraph/runtime/gpu/gpu_cuda_context_manager.cpp
  src/ngraph/runtime/gpu/gpu_cuda_context_manager.hpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
Labels: GPU, bug

#1031 [CS:GPU::Part 1] Add GPUShape type, conversion operators, and generalized shape helpers.
  src/ngraph/CMakeLists.txt
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/cudnn_emitter.cpp
  src/ngraph/runtime/gpu/gpu_call_frame.cpp
  src/ngraph/runtime/gpu/gpu_call_frame.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/gpu_external_function.hpp
  src/ngraph/runtime/gpu/gpu_invoke.cpp
  src/ngraph/runtime/gpu/gpu_invoke.hpp
  src/ngraph/runtime/gpu/gpu_memory_manager.cpp
  src/ngraph/runtime/gpu/gpu_memory_manager.hpp
  src/ngraph/runtime/gpu/gpu_primitive_emitter.cpp
  src/ngraph/runtime/gpu/gpu_primitive_emitter.hpp
  src/ngraph/runtime/gpu/gpu_runtime_context.hpp
  src/ngraph/runtime/gpu/gpu_shape.hpp
  src/ngraph/runtime/gpu/gpu_tensor_view_wrapper.cpp
  src/ngraph/runtime/gpu/gpu_tensor_view_wrapper.hpp
  src/ngraph/runtime/gpu/unit_test.manifest
  src/ngraph/shape.cpp
  src/ngraph/shape.hpp
  test/CMakeLists.txt
  test/gpu_test.cpp
Labels: GPU

#1020 add gpu reduce_window op
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_ops.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_util.cpp
  src/ngraph/runtime/gpu/gpu_util.hpp
  src/ngraph/runtime/gpu/unit_test.manifest
Labels: GPU
