Repository NervanaSystems/ngraph, pull requests merged in 2018-07, with the labels that each got.

#1172 gpu slice optimization
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
Labels: GPU

#1132 move sigmoid to core fusion
  doc/sphinx/source/ops/sigmoid.rst
  src/ngraph/CMakeLists.txt
  src/ngraph/ngraph.hpp
  src/ngraph/op/sigmoid.cpp
  src/ngraph/op/sigmoid.hpp
  src/ngraph/pass/core_fusion.cpp
  src/ngraph/pass/core_fusion.hpp
  src/ngraph/pass/cse.cpp
  src/ngraph/runtime/cpu/CMakeLists.txt
  src/ngraph/runtime/cpu/pass/cpu_fusion.cpp
  src/ngraph/runtime/cpu/pass/cpu_fusion.hpp
  src/ngraph/runtime/cpu/pass/cpu_layout.cpp
  src/ngraph/runtime/gpu/unit_test.manifest
  src/ngraph/runtime/interpreter/int_backend.hpp
  src/ngraph/runtime/reference/sigmoid.hpp
  src/ngraph/serializer.cpp
  test/autodiff.in.cpp
  test/backend_test.in.cpp
  test/core_fusion.cpp
  test/cpu_fusion.cpp
Labels: NNP

#1169 onnx [2]: add core wrappers
  src/ngraph/frontend/onnx_import/CMakeLists.txt
  src/ngraph/frontend/onnx_import/attribute.cpp
  src/ngraph/frontend/onnx_import/attribute.hpp
  src/ngraph/frontend/onnx_import/graph.cpp
  src/ngraph/frontend/onnx_import/graph.hpp
  src/ngraph/frontend/onnx_import/model.hpp
  src/ngraph/frontend/onnx_import/node.cpp
  src/ngraph/frontend/onnx_import/node.hpp
  src/ngraph/frontend/onnx_import/ops_bridge.cpp
  src/ngraph/frontend/onnx_import/ops_bridge.hpp
  src/ngraph/frontend/onnx_import/tensor.hpp
  src/ngraph/frontend/onnx_import/value_info.hpp
Labels: ONNX

#1191 fix bugs in align_to_block_size function
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
Labels: GPU, bug

#1188 Use mkldnn reorder only for transpose/dimshuffles.
  src/ngraph/runtime/cpu/pass/cpu_assignment.cpp
  test/backend_test.in.cpp
Labels: Ready to merge, bug fix

#1222 gpu safe call - add CUDA_RT_SAFE_CALL
  src/ngraph/runtime/gpu/gpu_tensor_view.cpp
  src/ngraph/runtime/gpu/gpu_tensor_view.hpp
  src/ngraph/runtime/gpu/gpu_util.cpp
  src/ngraph/runtime/gpu/gpu_util.hpp
Labels: GPU, bug fix

#1164 remove custom install path
  .ci/travis/ubuntu/Dockerfile
  CMakeLists.txt
  contrib/docker/Makefile
  contrib/docker/build-ngraph-and-test.sh
Labels: Changes API

#1195 Fix incorrect hash strings for softmax and 1d maxpool.
  src/ngraph/runtime/gpu/cuda_emitter.cpp
Labels: GPU, Ready to merge

#1189 gpu_external_function and gpu constant memory refactor
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/gpu_external_function.hpp
Labels: GPU

#1186 Refactored GPU backend state into BackendContext
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/cudnn_emitter.cpp
  src/ngraph/runtime/gpu/cudnn_emitter.hpp
  src/ngraph/runtime/gpu/gpu_backend.cpp
  src/ngraph/runtime/gpu/gpu_backend.hpp
  src/ngraph/runtime/gpu/gpu_call_frame.cpp
  src/ngraph/runtime/gpu/gpu_call_frame.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
  src/ngraph/runtime/gpu/gpu_emitter.hpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/gpu_external_function.hpp
  src/ngraph/runtime/gpu/gpu_memory_manager.cpp
  src/ngraph/runtime/gpu/gpu_memory_manager.hpp
  src/ngraph/runtime/gpu/gpu_primitive_emitter.cpp
  src/ngraph/runtime/gpu/gpu_primitive_emitter.hpp
Labels: GPU, Ready to merge

#1204 make cuda call async, add cuda async timer
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/cudnn_emitter.cpp
  src/ngraph/runtime/gpu/cudnn_emitter.hpp
  src/ngraph/runtime/gpu/gpu_external_function.cpp
  src/ngraph/runtime/gpu/gpu_external_function.hpp
  src/ngraph/runtime/gpu/gpu_runtime_context.cpp
  src/ngraph/runtime/gpu/gpu_runtime_context.hpp
  src/ngraph/runtime/gpu/gpu_util.cpp
  src/ngraph/runtime/gpu/gpu_util.hpp
  src/tools/nbench/benchmark.cpp
Labels: GPU

#1261 Fix launch parameter bug for broadcast and pad.
  src/ngraph/runtime/gpu/cuda_emitter.cpp
Labels: GPU, bug fix

#1259 gpu concat optimize
  src/ngraph/runtime/gpu/cuda_emitter.cpp
  src/ngraph/runtime/gpu/cuda_emitter.hpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_builder.cpp
  src/ngraph/runtime/gpu/gpu_cuda_kernel_emitters.hpp
  src/ngraph/runtime/gpu/gpu_emitter.cpp
Labels: GPU

#1264 Add no-throw error checks
  src/ngraph/runtime/gpu/cuda_error_check.hpp
  src/ngraph/runtime/gpu/cudnn_descriptors.hpp
  src/ngraph/runtime/gpu/gpu_cuda_context_manager.cpp
  src/ngraph/runtime/gpu/gpu_tensor_view.cpp
  src/ngraph/runtime/gpu/gpu_util.hpp
Labels: GPU
