Repository NervanaSystems/ngraph, changes with the owners that CODEOWNERS names for each.
All owners: @diyessi, @silee2, @raramer01, @postrational, @rkimballn1, @indie, @wenzhe-nrv, @shresthamalik, @arogowie-intel, @tsocha, @adstraw, @ilyachur

CODEOWNERS:

# Remember that the last applicable rule for any given file is the only one
# that applies.

# Default rule: @diyessi gets everything.
*                                   @diyessi

/cmake/                             @silee2

/.ci/                               @raramer01
/.ci/travis/                        @postrational
/.ci/onnx/                          @postrational
/contrib/docker/                    @raramer01
/.travis.yml                        @postrational

/.clang-format                      @rkimballn1
/.gitattributes                     @rkimballn1
/.gitignore                         @rkimballn1
/VERSION.in                         @rkimballn1 @silee2

/doc/                               @indie
/doc/examples/mnist_mlp/dist_*      @wenzhe-nrv @indie
/doc/*/*/frameworks/tensorflow_connect.rst      @shresthamalik
/doc/*/*/backends/plaidml-ng-api/   @diyessi
/doc/*/*/inspection/                @diyessi
/doc/examples/onnx/                 @arogowie-intel @tsocha
/README.md                          @indie
project/introduction.rst            @adstraw
project/governance.rst              @adstraw
/changes.md                         @indie @diyessi
project/doc-contributor-README.rst  @indie

/licenses/                          @diyessi @raramer01
/LICENSE                            @diyessi @raramer01

/python/                            @postrational

/src/resource/                      @rkimballn1
/src/tools/                         @rkimballn1
/src/ngraph/autodiff/               @diyessi
/src/ngraph/builder/                @silee2
/src/ngraph/codegen/                @rkimballn1
/src/ngraph/distributed.*           @wenzhe-nrv @diyessi
/src/ngraph/frontend/ATen/          @silee2
/src/ngraph/frontend/onnx_import/   @postrational
/src/ngraph/op/                     @diyessi @postrational
/src/ngraph/op/allreduce.*pp        @wenzhe-nrv @diyessi
/src/ngraph/op/experimental/layers  @ilyachur
/src/ngraph/pass/                   @diyessi
/src/ngraph/pattern/                @diyessi
/src/ngraph/runtime/                @rkimballn1
/src/ngraph/runtime/cpu/            @silee2
/src/contrib/mlir/                  @silee2
/src/ngraph/runtime/cpu/builder/allreduce.*pp    @wenzhe-nrv
/src/ngraph/runtime/dynamic/        @diyessi
/src/ngraph/runtime/gpu/            @rkimballn1
/src/ngraph/runtime/interpreter/    @rkimballn1
/src/ngraph/runtime/plaidml/        @diyessi
/src/ngraph/runtime/reference/      @diyessi
/src/ngraph/runtime/reference/allreduce.*pp      @wenzhe-nrv @diyessi
/src/ngraph/type/                   @diyessi
/src/ngraph/serializer.*pp          @rkimballn1

/test/backend/distributed.in.cpp    @wenzhe-nrv @diyessi
/test/mlir/                         @silee2

# Putting this last so it's not overridden by directory rules
CMakeLists.txt                      @silee2

# Putting this last to make sure nothing else overrides.
/CODEOWNERS                         @diyessi

Change pad type when converting to explicit values
  src/ngraph/op/convolution.cpp
Owners: @diyessi, @postrational

Add depth info to error report.
  src/ngraph/op/convolution.cpp
  src/ngraph/op/convolution.hpp
Owners: @diyessi, @postrational

Style
  src/ngraph/op/convolution.cpp
Owners: @diyessi, @postrational

Don't indent reserialized graph
  src/ngraph/serializer.cpp
  src/tools/reserialize/reserialize.cpp
Owners: @rkimballn1

Experiment
  src/ngraph/op/convolution.cpp
Owners: @diyessi, @postrational

try segfault
  src/ngraph/op/convolution.cpp
Owners: @diyessi, @postrational

Don't include opset2 in opset3.hpp
  src/ngraph/opsets/opset3.hpp
Owners: @diyessi
